body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-weight: 600;
    font-size: 2.8em;
}
h4{
    font-style: italic;
}
.about{
    background-color: rgb(255, 255, 255);
}
.portfolio{
    background-color: rgb(255, 255, 255);
}
.contact{
    background-color: rgb(255, 255, 255);
}
.bg, nav{
    background-color: rgb(186, 231, 213);
}
nav li{
    font-size: 1.1em;
    font-weight: 500;
    color: white;
}

.mainPic {
    background-image: url('pics/20210409_175821(4).jpg');
    background-size: cover;
    background-position: 20% 100% ;
    height: 55vh;
    position: relative;

}
@media screen and (min-width: 600px) { /*Desktop*/
    .mainPic {
        background-image: url('pics/20210409_175821(4).jpg');
        height: 60vh;
    }
  }
.title{
    background-color: rgba(0, 0, 0, 0.637);
    width: 60vw;
    height: 32vh;
    position: relative;
    top: 24%;
    left: 14%;
    font-size: .65em;
}
@media screen and (min-width: 600px) { /*Desktop*/
.title{
    background-color: rgba(0, 0, 0, 0.637);
    width: 50vw;
    height: 20vh;
    position: relative;
    top: 24%;
    left: 23%;
    font-size: 1em;

}
}
.percent{
    float: right;
}
.skill{
    float: left;
}